* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    /* A cada 1em será considerado 10px */
    font-size: 62.5%;
}

html,
body {
    height: 100vh;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: 1.6rem;
}

header {
    height: 25em;
    background: #D7D5FF;
    padding: 20px 0px;
}

main {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 760px;
    background: #D7D5FF;
}

.container {
    margin: 0px 20px;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 440px;
}

.header-content div.lorem>p {
    font: 500 normal 1.9rem/3.2rem 'Lato';
    display: flex;
    align-items: center;
    color: #555555;
}

.header-content div.lorem>h1 {
    font: 700 normal 3.6rem/4.7rem 'Merriweather';
    display: flex;
    align-items: center;
    color: #2B2B2B;
}

.header-content div.lorem {
    width: 390px;
    max-width: 390px;
}

.header-content div img {
    width: 90%;
    height: 90%;
    min-width: 350px;
    min-height: 226px;
}

.btn-header {
    margin: 20px 0px;
    width: 135px;
    height: 40px;
    background: #6C63FF;
    border-radius: 5px;
    border: none;
    color: #FFFF;
    transition: all ease-in 0.3s;
    font: 600 normal 1.4rem/3rem 'Lato';
    cursor: pointer;
}

.btn-header:hover {
    background: rgb(136, 130, 255);
    box-shadow: 0px 0px 16px rgba(146, 146, 146, 0.356);
}

.btn-header:focus-within {
    border: 0.2rem solid #6C63FF;
    background: transparent;
    color: #6663FF;
}

.content_colors_class {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 100px;
    max-width: 1240px;
}

.article_class {
    width: 340px;
    height: 423px;
    background-color: #FFFF;
    box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);
    margin: 20px;
    transition: all ease-in 0.3s;
}

.colors_class {
    width: 340px;
    height: 222px;
    cursor: pointer;
}

.article_class:hover {
    box-shadow: 5px 5px 16px rgba(23, 23, 23, 0.205);
}

.internal_text_div {
    padding: 20px;
}

.internal_text_div>h3 {
    font: 700 normal 2.4rem/3rem 'Merriweather';
    display: flex;
    align-items: flex-end;
    color: #2B2B2B;
    margin-bottom: 20px;
}

.internal_text_div>p {
    font: 700 normal 1.8rem/3rem 'Lato';
    display: flex;
    align-items: center;
    color: #555555;
}

.id_1 {
    background-color: #FF6363;
}

.id_2 {
    background-color: #63ECFF;
}

.id_3 {
    background-color: #F363FF;
}

.id_4 {
    background-color: #63FF73;
}

.id_5 {
    background-color: #FFDD63;
}

.id_6 {
    background-color: #6663FF;
}

/* FOOTER */

.form_class {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 470px;
}

.form-cont {
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-between;
}

.form-cont .title_form>h1 {
    font: 600 normal 3.2rem/4rem 'Merriweather';
    color: #2B2B2B;
}

.box_form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    padding: 11px 9px;
    background: #FFFFFF;
    border-radius: 6px;
    transition: all ease-in-out 300ms;
}

.class-select-input,
#textarea_id {
    width: 100%;
    border: none;
    font: normal 600 1.6rem/2.2rem 'Lato';
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.74);
}

input::placeholder {
    font-size: 16px;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.textarea_class {
    background: #FFFFFF;
    border-radius: 6px;
    padding: 11px 9px;
    height: 165px;
    width: 100%;
    transition: all ease-in-out 300ms;
}

#textarea_id {
    resize: none;
    height: 100%;
}

.box_form>input[type="button"] {
    font: 700 normal 1.6rem/2.4rem 'Lato';
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: #6C63FF;
    border-radius: 6px;
    padding: 11px 9px;
    color: #FFFFFF;
    transition: all ease-in-out 300ms;
    cursor: pointer;
    margin-top: 30px;
}

.textarea_class:hover,
.input:hover {
    box-shadow: 0px 0px 16px rgba(146, 146, 146, 0.356);
}

.textarea_class:focus-within,
.input:focus-within {
    border: 0.1rem solid #2B2B2B;
}

.box_form>input[type="button"]:hover {
    background: rgb(136, 130, 255);
    box-shadow: 0px 0px 16px rgba(146, 146, 146, 0.356);
}

.box_form>input[type="button"]:focus-within {
    border: 0.2rem solid #6C63FF;
    background: transparent;
    color: #6663FF;
}